TalkToYourSensor-mySQL-NodeRED.txt
[{"id":"e40e0116.f591a8","type":"ibmiot in","z":"d8772134.1b86d","authentication":"boundService","apiKey":"","inputType":"evt","ruleId":"","deviceId":"TISensorTagCL","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"qos":"0","x":129.99989318847656,"y":114.94446527957916,"wires":[["4ed64559.3782c4"]]},{"id":"4ed64559.3782c4","type":"function","z":"d8772134.1b86d","name":"Format Data for DB","func":"// Format Sensor Data for mySQL\n\nvar query = 'insert into tidata (MYNAME, AMBIENTTEMP, OBJECTTEMP, HUMIDITY, ACCELX, ACCELY, ACCELZ, GYROX, GYROY, GYROZ, MAGX, MAGY, MAGZ, LIGHT, TIMESENT) values ';\nvar vals = '(\"' + msg.payload.d.myName + '\", ' + msg.payload.d.ambientTemp + ', ' + msg.payload.d.objectTemp + ', ' + msg.payload.d.humidity + ', ' + msg.payload.d.accelX + ', ' + msg.payload.d.accelY + ', ' + msg.payload.d.accelZ + ', ' + msg.payload.d.gyroX + ', ' + msg.payload.d.gyroY + ', ' + msg.payload.d.gyroZ + ', ' + msg.payload.d.magX + ', ' + msg.payload.d.magY + ', ' + msg.payload.d.magZ + ', ' + msg.payload.d.light + ', CURRENT_TIMESTAMP)';\n\nmsg.topic = query + vals;\n\nmsg.payload =\n{\n    MYNAME : msg.payload.d.myName,\n    AMBIENTTEMP : msg.payload.d.ambientTemp,\n    OBJECTTEMP : msg.payload.d.objectTemp,\n    HUMIDITY : msg.payload.d.humidity,\n    ACCELX : msg.payload.d.accelX,\n    ACCELY : msg.payload.d.accelY,\n    ACCELZ : msg.payload.d.accelZ,\n    GYROX : msg.payload.d.gyroX,\n    GYROY : msg.payload.d.gyroY,\n    GYROZ : msg.payload.d.gyroZ,\n    MAGX : msg.payload.d.magX,\n    MAGY : msg.payload.d.magY,\n    MAGZ : msg.payload.d.magZ,\n    LIGHT : msg.payload.d.light,\n    TIMESENT : 'TIMESTAMP'\n}\nreturn msg;","outputs":1,"noerr":0,"x":234.95816040039062,"y":177.3888807296753,"wires":[["fe89994a.670a78","2a3b8ac6.968106"]]},{"id":"5054b9c.c973bc8","type":"comment","z":"d8772134.1b86d","name":"Send Sensor Data to mySQL","info":"","x":168.90618896484375,"y":68.33332061767578,"wires":[]},{"id":"fe89994a.670a78","type":"debug","z":"d8772134.1b86d","name":"Data Sent to mySQL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":370.5554962158203,"y":118.6111068725586,"wires":[]},{"id":"2a3b8ac6.968106","type":"mysql","z":"d8772134.1b86d","mydb":"","name":"mySQLDB","x":494.99989318847656,"y":194.94446527957916,"wires":[[]]}]
