TalkToYourSensor-mySQL-NodeRED.txt
[{"id":"324ad9bc.cb6e36","type":"ibmiot in","z":"1e4fbc3b.a64e8c","authentication":"boundService","apiKey":"","inputType":"evt","ruleId":"","deviceId":"TISensorTagCL","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"qos":"0","x":106.25,"y":100.36114466190338,"wires":[["6ef94def.aaba5c"]]},{"id":"6ef94def.aaba5c","type":"function","z":"1e4fbc3b.a64e8c","name":"Format Data for DB","func":"// Format Sensor Data for mySQL\n\nvar query = 'insert into tidata (MYNAME, AMBIENTTEMP, OBJECTTEMP, HUMIDITY, ACCELX, ACCELY, ACCELZ, GYROX, GYROY, GYROZ, MAGX, MAGY, MAGZ, LIGHT, TIMESENT) values ';\nvar vals = '(\"' + msg.payload.d.myName + '\", ' + msg.payload.d.ambientTemp + ', ' + msg.payload.d.objectTemp + ', ' + msg.payload.d.humidity + ', ' + msg.payload.d.accelX + ', ' + msg.payload.d.accelY + ', ' + msg.payload.d.accelZ + ', ' + msg.payload.d.gyroX + ', ' + msg.payload.d.gyroY + ', ' + msg.payload.d.gyroZ + ', ' + msg.payload.d.magX + ', ' + msg.payload.d.magY + ', ' + msg.payload.d.magZ + ', ' + msg.payload.d.light + ', CURRENT_TIMESTAMP)';\n\nmsg.topic = query + vals;\n\nmsg.payload =\n{\n    MYNAME : msg.payload.d.myName,\n    AMBIENTTEMP : msg.payload.d.ambientTemp,\n    OBJECTTEMP : msg.payload.d.objectTemp,\n    HUMIDITY : msg.payload.d.humidity,\n    ACCELX : msg.payload.d.accelX,\n    ACCELY : msg.payload.d.accelY,\n    ACCELZ : msg.payload.d.accelZ,\n    GYROX : msg.payload.d.gyroX,\n    GYROY : msg.payload.d.gyroY,\n    GYROZ : msg.payload.d.gyroZ,\n    MAGX : msg.payload.d.magX,\n    MAGY : msg.payload.d.magY,\n    MAGZ : msg.payload.d.magZ,\n    LIGHT : msg.payload.d.light,\n    TIMESENT : 'TIMESTAMP'\n}\nreturn msg;","outputs":1,"noerr":0,"x":211.20826721191406,"y":162.8055601119995,"wires":[["b7c3e2dc.10754","c02b0b73.6618c8","1c29c42c.18b024"]]},{"id":"1f5c04d1.319e7b","type":"comment","z":"1e4fbc3b.a64e8c","name":"Send Sensor Data to mySQL","info":"","x":145.1562957763672,"y":53.75,"wires":[]},{"id":"b7c3e2dc.10754","type":"debug","z":"1e4fbc3b.a64e8c","name":"Data Sent to mySQL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":346.80560302734375,"y":104.02778625488281,"wires":[]},{"id":"c02b0b73.6618c8","type":"mysql","z":"1e4fbc3b.a64e8c","mydb":"","name":"mySQLDB","x":471.25,"y":180.36114466190338,"wires":[[]]},{"id":"1c29c42c.18b024","type":"function","z":"1e4fbc3b.a64e8c","name":"LightFunc","func":"var lightOut = msg.payload.LIGHT;\n\nif (lightOut > 80.00) {\n    msg.payload = 'Warning! Warning! The light is brighter that 80 Lux!'\n} else {\n    msg.payload = 'OK'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":397.7975158691406,"y":272.56356048583984,"wires":[["418a1f43.54c968"]]},{"id":"158ca290.c410bd","type":"watson-text-to-speech","z":"1e4fbc3b.a64e8c","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"","payload-response":true,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":872.7974548339844,"y":200.48021697998047,"wires":[["d90e21d.1e3c6e"]]},{"id":"d90e21d.1e3c6e","type":"play audio","z":"1e4fbc3b.a64e8c","name":"","voice":"7","x":937.7974548339844,"y":58.81353759765625,"wires":[]},{"id":"418a1f43.54c968","type":"switch","z":"1e4fbc3b.a64e8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Warning! Warning! The light is bright!","vt":"str"},{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":584.4641418457031,"y":270.8968734741211,"wires":[["158ca290.c410bd"],["23a3b774.2d3318"]]},{"id":"23a3b774.2d3318","type":"debug","z":"1e4fbc3b.a64e8c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":907.7975362141925,"y":282.14687347412104,"wires":[]}]
