TalkToYourSensor-dashDB-NodeRED.txt
[{"id":"aa30f643.63d308","type":"ibmiot in","z":"854440ec.c4523","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"TISensorTagCL","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"registered","allDevices":true,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":true,"qos":"0","x":101.11111068725586,"y":234.66667711734772,"wires":[["3cdfd3be.2ff5dc"]]},{"id":"3cdfd3be.2ff5dc","type":"function","z":"854440ec.c4523","name":"Format Data for DB","func":"// Format Sensor Data for dashDB\nmsg.payload =\n{\n    MYNAME : msg.payload.d.myName,\n    AMBIENTTEMP : msg.payload.d.ambientTemp,\n    OBJECTTEMP : msg.payload.d.objectTemp,\n    HUMIDITY : msg.payload.d.humidity,\n    ACCELX : msg.payload.d.accelX,\n    ACCELY : msg.payload.d.accelY,\n    ACCELZ : msg.payload.d.accelZ,\n    GYROX : msg.payload.d.gyroX,\n    GYROY : msg.payload.d.gyroY,\n    GYROZ : msg.payload.d.gyroZ,\n    MAGX : msg.payload.d.magX,\n    MAGY : msg.payload.d.magY,\n    MAGZ : msg.payload.d.magZ,\n    LIGHT : msg.payload.d.light,\n    TIMESENT : 'TIMESTAMP'\n}\nreturn msg;","outputs":1,"noerr":0,"x":206.06937789916992,"y":297.11109256744385,"wires":[["2f61c125.118b6e","da77375c.56f458"]]},{"id":"84f3dffd.378bd","type":"comment","z":"854440ec.c4523","name":"Send Sensor Data to dashDB","info":"","x":140.01740646362305,"y":188.05553245544434,"wires":[]},{"id":"2f61c125.118b6e","type":"debug","z":"854440ec.c4523","name":"Data Sent to dashDB","active":true,"console":"false","complete":"payload","x":341.6667137145996,"y":238.33331871032715,"wires":[]},{"id":"da77375c.56f458","type":"dashDB out","z":"854440ec.c4523","dashDB":"","service":"dashDB for Analytics","table":"TIDATA","name":"TIDATA","x":429.8888854980469,"y":296.6666564941406,"wires":[]}]