TalkToYourSensor-NodeREDmySQL.txt
[{"id":"794e3bd6.137444","type":"watson-conversation-v1","z":"d8772134.1b86d","name":"Watson Conversation","workspaceid":"7165ea7b-9543-46af-9a6d-da3c38409bf5","multiuser":false,"context":false,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","x":374,"y":644.1666297912598,"wires":[["beafc4b2.ce17e8"]]},{"id":"fb40e863.2e226","type":"http in","z":"d8772134.1b86d","name":"","url":"/botchat","method":"post","swaggerDoc":"","x":148,"y":639.1666297912598,"wires":[["8b628061.ee9ca8"]]},{"id":"8b628061.ee9ca8","type":"function","z":"d8772134.1b86d","name":"Pre Service","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":212,"y":693.1666297912598,"wires":[["794e3bd6.137444"]]},{"id":"beafc4b2.ce17e8","type":"function","z":"d8772134.1b86d","name":"Post Service","func":"msg.mydata.messageout = msg.payload;\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\nglobal.set(\"theoutput\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":473.66668701171875,"y":694.499942779541,"wires":[["de5c801e.6abce"]]},{"id":"3b5c97d.eb446e8","type":"http response","z":"d8772134.1b86d","name":"","x":1494.6429443359375,"y":969.4444618225098,"wires":[]},{"id":"de5c801e.6abce","type":"switch","z":"d8772134.1b86d","name":"Switch","property":"payload.botresponse.messageout.output.text","propertyType":"msg","rules":[{"t":"cont","v":"last value for TEMPERATURE.","vt":"str"},{"t":"cont","v":"minimum value for TEMPERATURE.","vt":"str"},{"t":"cont","v":"maximum value for TEMPERATURE.","vt":"str"},{"t":"cont","v":"average value for TEMPERATURE.","vt":"str"},{"t":"cont","v":"last value for LIGHT.","vt":"str"},{"t":"cont","v":"minimum value for LIGHT.","vt":"str"},{"t":"cont","v":"maximum value for LIGHT.","vt":"str"},{"t":"cont","v":"average value for LIGHT.","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":9,"x":633.72216796875,"y":731.4285316467285,"wires":[["2c96f569.421dfa"],["c5ac3315.2b025"],["d74df8f1.630a88"],["24e13b4e.cced24"],["7463b807.187968"],["c5df751c.614448"],["2b9c4110.4c8d3e"],["2b14c1c1.99b7d6"],["c014709f.e63038"]]},{"id":"1b59be9d.543539","type":"function","z":"d8772134.1b86d","name":"RETURN LAST TEMP","func":"var globalvariable = global.get(\"theoutput\");\nvar dashDBresult = msg.payload[0];\nvar latest = dashDBresult.AMBIENTTEMP;\nvar timesent = dashDBresult.TIMESENT;\n\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The LATEST TEMP recorded by the IoT Sensor is \" + latest + \" celsius degrees. This was recorded on \" + timesent;\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1242.2457275390625,"y":542.6826515197754,"wires":[["40cf0392.aacff4"]]},{"id":"2c5ca368.2ee044","type":"function","z":"d8772134.1b86d","name":"RETURN MAX TEMP","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MAXIMUM TEMP recorded by the IoT Sensor is \" + msg.payload[0].MAXTEMP + \" celsius degrees.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1243.7855224609375,"y":625.325382232666,"wires":[["40cf0392.aacff4"]]},{"id":"5d057c54.76d1a4","type":"function","z":"d8772134.1b86d","name":"RETURN MIN TEMP","func":"var globalvariable = global.get(\"theoutput\");\nvar dashDBresult = msg.payload[0];\nvar mintemp = dashDBresult.MINTEMP;\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MINIMUM TEMP recorded by the IoT Sensor is \" + mintemp + \" celsius degrees.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1243.24560546875,"y":585.1348915100098,"wires":[["40cf0392.aacff4"]]},{"id":"c014709f.e63038","type":"function","z":"d8772134.1b86d","name":"OTHERWISE","func":"var globalvariable = global.get(\"theoutput\");\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":847.0477905273438,"y":974.1668128967285,"wires":[["3b5c97d.eb446e8"]]},{"id":"b3fc1e7b.356c18","type":"function","z":"d8772134.1b86d","name":"RETURN AVG TEMP","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The AVERAGE TEMP recorded by the IoT Sensor is \" + msg.payload[0].AVGTEMP + \" celsius degrees.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1241.015380859375,"y":665.9443702697754,"wires":[["40cf0392.aacff4"]]},{"id":"40cf0392.aacff4","type":"function","z":"d8772134.1b86d","name":"","func":"msg.payload.botresponse.messageout.context = {};\nreturn msg;","outputs":1,"noerr":0,"x":1467.277587890625,"y":690.166690826416,"wires":[["3b5c97d.eb446e8"]]},{"id":"5b0e95db.42466c","type":"comment","z":"d8772134.1b86d","name":"TIDATA TEMP","info":"","x":821.9999389648438,"y":492,"wires":[]},{"id":"5ed96313.207804","type":"comment","z":"d8772134.1b86d","name":"TIDATA LIGHT","info":"","x":1043.2857666015625,"y":718.714298248291,"wires":[]},{"id":"17c61237.06c3de","type":"function","z":"d8772134.1b86d","name":"RETURN LAST LIGHT","func":"var globalvariable = global.get(\"theoutput\");\nvar dashDBresult = msg.payload;\nvar latest = dashDBresult[0].LIGHT;\nvar timesent = dashDBresult[0].TIMESENT;\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The LATEST LIGHT recorded by the IoT Sensor is \" + latest + \" lux units. This was recorded on \" + timesent;\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1244,"y":754.6428871154785,"wires":[["40cf0392.aacff4"]]},{"id":"2713939.8f676ec","type":"function","z":"d8772134.1b86d","name":"RETURN MIN LIGHT","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MINIMUM LIGHT recorded by the IoT Sensor is \" + msg.payload[0].MINLIGHT + \" lux units.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1245.9127197265625,"y":809.674503326416,"wires":[["40cf0392.aacff4"]]},{"id":"ce55c946.934ef","type":"function","z":"d8772134.1b86d","name":"RETURN MAX LIGHT","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MAXIMUM LIGHT recorded by the IoT Sensor is \" + msg.payload[0].MAXLIGHT + \" lux units.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1246.9837646484375,"y":862.3887977600098,"wires":[["40cf0392.aacff4"]]},{"id":"7b10a38c.276084","type":"function","z":"d8772134.1b86d","name":"RETURN AVG LIGHT","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The AVERAGE LIGHT recorded by the IoT Sensor is \" + msg.payload[0].AVGLIGHT + \" Lux Units.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1246.055419921875,"y":918.0317420959473,"wires":[["40cf0392.aacff4"]]},{"id":"ae64372.f75a0c8","type":"comment","z":"d8772134.1b86d","name":"2. Capture the Conversation's input and output","info":"","x":248,"y":586,"wires":[]},{"id":"d85da901.440eb8","type":"comment","z":"d8772134.1b86d","name":"3. Switch depending on the Conversation's output","info":"","x":431.8570861816406,"y":854.2857704162598,"wires":[]},{"id":"856490bd.d70f7","type":"comment","z":"d8772134.1b86d","name":"4. Do SQLs and format when the Swicth identified the need, else return as-is output","info":"","x":1038,"y":446,"wires":[]},{"id":"2c96f569.421dfa","type":"function","z":"d8772134.1b86d","name":"get_last_temp","func":"msg.topic = 'SELECT AMBIENTTEMP, TIMESENT FROM TIDATA ORDER BY TIMESENT DESC limit 1';\nreturn msg;","outputs":1,"noerr":0,"x":857.5714721679688,"y":543.8094520568848,"wires":[["46c1fd78.9b992c"]]},{"id":"46c1fd78.9b992c","type":"mysql","z":"d8772134.1b86d","mydb":"","name":"lastTemp","x":1038.1429443359375,"y":543.0237464904785,"wires":[["1b59be9d.543539"]],"outputLabels":["msg.result"]},{"id":"c5ac3315.2b025","type":"function","z":"d8772134.1b86d","name":"get_min_temp","func":"msg.topic = 'SELECT MIN(AMBIENTTEMP) AS MINTEMP FROM TIDATA';\nreturn msg;","outputs":1,"noerr":0,"x":856.8571166992188,"y":585.595157623291,"wires":[["370c1a1a.dc4ab6"]]},{"id":"370c1a1a.dc4ab6","type":"mysql","z":"d8772134.1b86d","mydb":"","name":"minTemp","x":1039.571533203125,"y":585.8808937072754,"wires":[["5d057c54.76d1a4"]],"outputLabels":["msg.result"]},{"id":"d74df8f1.630a88","type":"function","z":"d8772134.1b86d","name":"get_max_temp","func":"msg.topic = 'SELECT MAX(AMBIENTTEMP) as MAXTEMP FROM TIDATA';\nreturn msg;","outputs":1,"noerr":0,"x":858.2857055664062,"y":625.5952186584473,"wires":[["86fc4de8.579cf"]]},{"id":"86fc4de8.579cf","type":"mysql","z":"d8772134.1b86d","mydb":"","name":"maxTemp","x":1036.71435546875,"y":625.8807716369629,"wires":[["2c5ca368.2ee044"]],"outputLabels":["msg.result"]},{"id":"24e13b4e.cced24","type":"function","z":"d8772134.1b86d","name":"get_avg_temp","func":"msg.topic = 'SELECT ROUND(AVG(AMBIENTTEMP),2) as AVGTEMP FROM TIDATA';\nreturn msg;","outputs":1,"noerr":0,"x":858.2858276367188,"y":665.5952186584473,"wires":[["944db938.4504d"]]},{"id":"944db938.4504d","type":"mysql","z":"d8772134.1b86d","mydb":"","name":"avgTemp","x":1038.142822265625,"y":665.8809547424316,"wires":[["b3fc1e7b.356c18"]],"outputLabels":["msg.result"]},{"id":"7463b807.187968","type":"function","z":"d8772134.1b86d","name":"get_last_light","func":"msg.topic = 'SELECT LIGHT, TIMESENT FROM TIDATA ORDER BY TIMESENT DESC limit 1';\nreturn msg;","outputs":1,"noerr":0,"x":849.7142333984375,"y":757.0237464904785,"wires":[["37414c63.212d44"]]},{"id":"37414c63.212d44","type":"mysql","z":"d8772134.1b86d","mydb":"","name":"lastLight","x":1041.1428833007812,"y":757.0238075256348,"wires":[["17c61237.06c3de"]],"outputLabels":["msg.result"]},{"id":"c5df751c.614448","type":"function","z":"d8772134.1b86d","name":"get_min_light","func":"msg.topic = 'SELECT MIN(LIGHT) AS MINLIGHT FROM TIDATA';\nreturn msg;","outputs":1,"noerr":0,"x":849.7142944335938,"y":811.309513092041,"wires":[["5fb48a26.6674dc"]]},{"id":"5fb48a26.6674dc","type":"mysql","z":"d8772134.1b86d","mydb":"","name":"minLight","x":1041.1428833007812,"y":809.8808937072754,"wires":[["2713939.8f676ec"]],"outputLabels":["msg.result"]},{"id":"2b9c4110.4c8d3e","type":"function","z":"d8772134.1b86d","name":"get_max_light","func":"msg.topic = 'SELECT MAX(LIGHT) AS MAXLIGHT FROM TIDATA';\nreturn msg;\n","outputs":1,"noerr":0,"x":854.0000610351562,"y":865.595157623291,"wires":[["cb38a8d5.960ea"]]},{"id":"cb38a8d5.960ea","type":"mysql","z":"d8772134.1b86d","mydb":"","name":"maxLight","x":1042.5714721679688,"y":865.5952186584473,"wires":[["ce55c946.934ef"]],"outputLabels":["msg.result"]},{"id":"2b14c1c1.99b7d6","type":"function","z":"d8772134.1b86d","name":"get_avg_light","func":"msg.topic = 'SELECT ROUND(AVG(LIGHT),2) AS AVGLIGHT FROM TIDATA';\nreturn msg;\n","outputs":1,"noerr":0,"x":845.4285888671875,"y":918.452335357666,"wires":[["c75301c4.ad6f3"]]},{"id":"c75301c4.ad6f3","type":"mysql","z":"d8772134.1b86d","mydb":"","name":"avgLight","x":1044.0000610351562,"y":918.4523963928223,"wires":[["7b10a38c.276084"]],"outputLabels":["msg.result"]},{"id":"8017bf83.640a4","type":"http in","z":"d8772134.1b86d","name":"BOT Home Page /bot","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":188,"y":500,"wires":[["78a625e1.d1381c"]]},{"id":"78a625e1.d1381c","type":"template","z":"d8772134.1b86d","name":"Conversation BOT Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  Talk to your Sensor Chatbot\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>Talk to your Sensor Chatbot</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/><br/>\n\t      </form>\n\t      <button onclick=\"javascript:onChatClick()\">Send</button>\n\t  </div>\n    </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    \n      $(document).ready(function() {\n          javascriptCheck();\n          \t$('#id_contextdump').hide();\n      });\n\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n      \n      function createNewDiv(who, message) {\n        console.log('002-001');  \n        var txt = who + ' : ' + message;\n        return $('<div></div>').text(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }    \n      \n      function processOK(response) {\n        console.log('003-001');\n        console.log(response);\n        console.log(response.botresponse.messageout);\n        console.log(response.botresponse.messageout.output.text);\n        console.log(response.botresponse.messageout.context);\n        chat('Bot', response.botresponse.messageout.output.text); \n        $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n      }\n      \n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot');\n      }\n      \n      function invokeAjax(message) {\n        var contextdata = $('#id_contextdump').data('convContext');\n        console.log('checking stashed context data');\n        console.log(contextdata);\n        \n  \n        //var ajaxData = \"msgdata=\" + message;\n        var ajaxData = {};\n        ajaxData.msgdata = message;\n        if (contextdata) {\n          ajaxData.context = contextdata;    \n        }\n\n        $.ajax({\n          type: 'POST',\n          url: 'botchat',\n          data: ajaxData,\n          success: processOK,\n          error: processNotOK\n        });\n      }\n          \n      // User has entered some text.\n      function onChatClick() {\n        console.log('001-001');\n        var txt = $('#id_chattext').val();\n        chat('You', txt); \n        invokeAjax(txt);\n        console.log('001-002');\n      }\n      \n        \n    </script>\n  </body>\n</html>\n","x":440.11114501953125,"y":500.11108779907227,"wires":[["40bc0292.2dc194"]]},{"id":"40bc0292.2dc194","type":"http response","z":"d8772134.1b86d","name":"","x":641,"y":501.00000381469727,"wires":[]},{"id":"da4a57a3.8dd578","type":"comment","z":"d8772134.1b86d","name":"1. Setup the Chatbot page","info":"","x":200,"y":451.83337783813477,"wires":[]}]
