TalkToYourSensor-NodeREDmySQL.txt
[{"id":"439b49c5.b604d8","type":"watson-conversation-v1","z":"1e4fbc3b.a64e8c","name":"Watson Conversation","workspaceid":"7165ea7b-9543-46af-9a6d-da3c38409bf5","multiuser":false,"context":false,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","x":383,"y":628,"wires":[["88bfcb2c.48a998"]]},{"id":"c0dc68d1.05349","type":"http in","z":"1e4fbc3b.a64e8c","name":"BOT Home Page /bot","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":178.6190185546875,"y":477.19045639038086,"wires":[["a06bf014.f0048"]]},{"id":"a06bf014.f0048","type":"template","z":"1e4fbc3b.a64e8c","name":"Conversation BOT Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  Talk to your Sensor Chatbot\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>Talk to your Sensor Chatbot</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/><br/>\n\t      </form>\n\t      <button onclick=\"javascript:onChatClick()\">Send</button>\n\t  </div>\n    </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    \n      $(document).ready(function() {\n          javascriptCheck();\n          \t$('#id_contextdump').hide();\n      });\n\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n      \n      function createNewDiv(who, message) {\n        console.log('002-001');  \n        var txt = who + ' : ' + message;\n        return $('<div></div>').text(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }    \n      \n      function processOK(response) {\n        console.log('003-001');\n        console.log(response);\n        console.log(response.botresponse.messageout);\n        console.log(response.botresponse.messageout.output.text);\n        console.log(response.botresponse.messageout.context);\n        chat('Bot', response.botresponse.messageout.output.text); \n        $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n      }\n      \n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot');\n      }\n      \n      function invokeAjax(message) {\n        var contextdata = $('#id_contextdump').data('convContext');\n        console.log('checking stashed context data');\n        console.log(contextdata);\n        \n  \n        //var ajaxData = \"msgdata=\" + message;\n        var ajaxData = {};\n        ajaxData.msgdata = message;\n        if (contextdata) {\n          ajaxData.context = contextdata;    \n        }\n\n        $.ajax({\n          type: 'POST',\n          url: 'botchat',\n          data: ajaxData,\n          success: processOK,\n          error: processNotOK\n        });\n      }\n          \n      // User has entered some text.\n      function onChatClick() {\n        console.log('001-001');\n        var txt = $('#id_chattext').val();\n        chat('You', txt); \n        invokeAjax(txt);\n        console.log('001-002');\n      }\n      \n        \n    </script>\n  </body>\n</html>\n","x":430.73016357421875,"y":477.3015441894531,"wires":[["4617d8b6.6795c"]]},{"id":"4617d8b6.6795c","type":"http response","z":"1e4fbc3b.a64e8c","name":"","x":631.6190185546875,"y":478.1904602050781,"wires":[]},{"id":"a83440f9.2360e","type":"http in","z":"1e4fbc3b.a64e8c","name":"","url":"/botchat","method":"post","swaggerDoc":"","x":157,"y":623,"wires":[["b313b698.f6df88"]]},{"id":"b313b698.f6df88","type":"function","z":"1e4fbc3b.a64e8c","name":"Pre Service","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":221,"y":677,"wires":[["439b49c5.b604d8"]]},{"id":"88bfcb2c.48a998","type":"function","z":"1e4fbc3b.a64e8c","name":"Post Service","func":"msg.mydata.messageout = msg.payload;\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\nglobal.set(\"theoutput\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":482.66668701171875,"y":678.3333129882812,"wires":[["7c5527b0.47fff"]]},{"id":"9a1be379.f21a58","type":"http response","z":"1e4fbc3b.a64e8c","name":"","x":1503.6429443359375,"y":953.27783203125,"wires":[]},{"id":"7c5527b0.47fff","type":"switch","z":"1e4fbc3b.a64e8c","name":"Switch","property":"payload.botresponse.messageout.output.text","propertyType":"msg","rules":[{"t":"cont","v":"last value for TEMPERATURE.","vt":"str"},{"t":"cont","v":"minimum value for TEMPERATURE.","vt":"str"},{"t":"cont","v":"maximum value for TEMPERATURE.","vt":"str"},{"t":"cont","v":"average value for TEMPERATURE.","vt":"str"},{"t":"cont","v":"last value for LIGHT.","vt":"str"},{"t":"cont","v":"minimum value for LIGHT.","vt":"str"},{"t":"cont","v":"maximum value for LIGHT.","vt":"str"},{"t":"cont","v":"average value for LIGHT.","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":9,"x":642.72216796875,"y":715.2619018554688,"wires":[["cf9d4106.ddc74"],["8ac11b0e.12a5c"],["e170225a.8f6de"],["4d2f668f.06b97"],["ca428e38.457a6"],["2ac36bd6.17dc64"],["5a0fdd62.cdef64"],["be4378a.9e6b808"],["691e1571.6bc044"]]},{"id":"2ec27639.4d0a9a","type":"function","z":"1e4fbc3b.a64e8c","name":"RETURN LAST TEMP","func":"var globalvariable = global.get(\"theoutput\");\nvar dashDBresult = msg.payload[0];\nvar latest = dashDBresult.AMBIENTTEMP;\nvar timesent = dashDBresult.TIMESENT;\n\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The LATEST TEMP recorded by the IoT Sensor is \" + latest + \" celsius degrees. This was recorded on \" + timesent;\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1251.2457275390625,"y":526.5160217285156,"wires":[["8e49791a.aaf8b","e57d5dd.254ff2"]]},{"id":"7a645f7e.02b118","type":"function","z":"1e4fbc3b.a64e8c","name":"RETURN MAX TEMP","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MAXIMUM TEMP recorded by the IoT Sensor is \" + msg.payload[0].MAXTEMP + \" celsius degrees.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1252.7855224609375,"y":609.1587524414062,"wires":[["8e49791a.aaf8b","e57d5dd.254ff2"]]},{"id":"268b9bb9.ff642c","type":"function","z":"1e4fbc3b.a64e8c","name":"RETURN MIN TEMP","func":"var globalvariable = global.get(\"theoutput\");\nvar dashDBresult = msg.payload[0];\nvar mintemp = dashDBresult.MINTEMP;\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MINIMUM TEMP recorded by the IoT Sensor is \" + mintemp + \" celsius degrees.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1252.24560546875,"y":568.96826171875,"wires":[["8e49791a.aaf8b","e57d5dd.254ff2"]]},{"id":"691e1571.6bc044","type":"function","z":"1e4fbc3b.a64e8c","name":"OTHERWISE","func":"var globalvariable = global.get(\"theoutput\");\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":856.0477905273438,"y":958.0001831054688,"wires":[["9a1be379.f21a58","e57d5dd.254ff2"]]},{"id":"903dcd3b.b76ca8","type":"function","z":"1e4fbc3b.a64e8c","name":"RETURN AVG TEMP","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The AVERAGE TEMP recorded by the IoT Sensor is \" + msg.payload[0].AVGTEMP + \" celsius degrees.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1250.015380859375,"y":649.7777404785156,"wires":[["8e49791a.aaf8b","e57d5dd.254ff2"]]},{"id":"8e49791a.aaf8b","type":"function","z":"1e4fbc3b.a64e8c","name":"","func":"msg.payload.botresponse.messageout.context = {};\nreturn msg;","outputs":1,"noerr":0,"x":1761.2776489257812,"y":684,"wires":[["9a1be379.f21a58"]]},{"id":"5b386f51.cffef8","type":"comment","z":"1e4fbc3b.a64e8c","name":"TIDATA TEMP","info":"","x":830.9999389648438,"y":475.83337020874023,"wires":[]},{"id":"8025a73b.339188","type":"comment","z":"1e4fbc3b.a64e8c","name":"TIDATA LIGHT","info":"","x":1052.2857666015625,"y":702.5476684570312,"wires":[]},{"id":"79edfe0f.10c938","type":"function","z":"1e4fbc3b.a64e8c","name":"RETURN LAST LIGHT","func":"var globalvariable = global.get(\"theoutput\");\nvar dashDBresult = msg.payload;\nvar latest = dashDBresult[0].LIGHT;\nvar timesent = dashDBresult[0].TIMESENT;\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The LATEST LIGHT recorded by the IoT Sensor is \" + latest + \" lux units. This was recorded on \" + timesent;\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1253,"y":738.4762573242188,"wires":[["8e49791a.aaf8b","e57d5dd.254ff2"]]},{"id":"989f7394.8a90c","type":"function","z":"1e4fbc3b.a64e8c","name":"RETURN MIN LIGHT","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MINIMUM LIGHT recorded by the IoT Sensor is \" + msg.payload[0].MINLIGHT + \" lux units.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1254.9127197265625,"y":793.5078735351562,"wires":[["8e49791a.aaf8b","e57d5dd.254ff2"]]},{"id":"2721a237.c6a32e","type":"function","z":"1e4fbc3b.a64e8c","name":"RETURN MAX LIGHT","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MAXIMUM LIGHT recorded by the IoT Sensor is \" + msg.payload[0].MAXLIGHT + \" lux units.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1255.9837646484375,"y":846.22216796875,"wires":[["8e49791a.aaf8b","e57d5dd.254ff2"]]},{"id":"577cb8a0.c9d4e","type":"function","z":"1e4fbc3b.a64e8c","name":"RETURN AVG LIGHT","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The AVERAGE LIGHT recorded by the IoT Sensor is \" + msg.payload[0].AVGLIGHT + \" Lux Units.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1255.055419921875,"y":901.8651123046875,"wires":[["8e49791a.aaf8b","e57d5dd.254ff2"]]},{"id":"47f816f6.caaa7","type":"comment","z":"1e4fbc3b.a64e8c","name":"1. Setup the Chatbot page","info":"","x":190.6190185546875,"y":429.0238342285156,"wires":[]},{"id":"20350819.334ae","type":"comment","z":"1e4fbc3b.a64e8c","name":"2. Capture the Conversation's input and output","info":"","x":257,"y":569.8333702087402,"wires":[]},{"id":"5ac2a978.32c18","type":"comment","z":"1e4fbc3b.a64e8c","name":"3. Switch depending on the Conversation's output","info":"","x":440.8570861816406,"y":838.119140625,"wires":[]},{"id":"76e49906.479ce8","type":"comment","z":"1e4fbc3b.a64e8c","name":"4. Do SQLs and format when the Swicth identified the need, else return as-is output","info":"","x":1047,"y":429.83337020874023,"wires":[]},{"id":"cf9d4106.ddc74","type":"function","z":"1e4fbc3b.a64e8c","name":"get_last_temp","func":"msg.topic = 'SELECT AMBIENTTEMP, TIMESENT FROM TIDATA ORDER BY TIMESENT DESC limit 1';\nreturn msg;","outputs":1,"noerr":0,"x":866.5714721679688,"y":527.642822265625,"wires":[["d4d43087.955d2"]]},{"id":"d4d43087.955d2","type":"mysql","z":"1e4fbc3b.a64e8c","mydb":"","name":"lastTemp","x":1047.1429443359375,"y":526.8571166992188,"wires":[["2ec27639.4d0a9a"]],"outputLabels":["msg.result"]},{"id":"8ac11b0e.12a5c","type":"function","z":"1e4fbc3b.a64e8c","name":"get_min_temp","func":"msg.topic = 'SELECT MIN(AMBIENTTEMP) AS MINTEMP FROM TIDATA';\nreturn msg;","outputs":1,"noerr":0,"x":865.8571166992188,"y":569.4285278320312,"wires":[["f22352a4.74cbb8"]]},{"id":"f22352a4.74cbb8","type":"mysql","z":"1e4fbc3b.a64e8c","mydb":"","name":"minTemp","x":1048.571533203125,"y":569.7142639160156,"wires":[["268b9bb9.ff642c"]],"outputLabels":["msg.result"]},{"id":"e170225a.8f6de","type":"function","z":"1e4fbc3b.a64e8c","name":"get_max_temp","func":"msg.topic = 'SELECT MAX(AMBIENTTEMP) as MAXTEMP FROM TIDATA';\nreturn msg;","outputs":1,"noerr":0,"x":867.2857055664062,"y":609.4285888671875,"wires":[["1cf18535.bee77b"]]},{"id":"1cf18535.bee77b","type":"mysql","z":"1e4fbc3b.a64e8c","mydb":"","name":"maxTemp","x":1045.71435546875,"y":609.7141418457031,"wires":[["7a645f7e.02b118"]],"outputLabels":["msg.result"]},{"id":"4d2f668f.06b97","type":"function","z":"1e4fbc3b.a64e8c","name":"get_avg_temp","func":"msg.topic = 'SELECT ROUND(AVG(AMBIENTTEMP),2) as AVGTEMP FROM TIDATA';\nreturn msg;","outputs":1,"noerr":0,"x":867.2858276367188,"y":649.4285888671875,"wires":[["cd51d397.1ffef"]]},{"id":"cd51d397.1ffef","type":"mysql","z":"1e4fbc3b.a64e8c","mydb":"","name":"avgTemp","x":1047.142822265625,"y":649.7143249511719,"wires":[["903dcd3b.b76ca8"]],"outputLabels":["msg.result"]},{"id":"ca428e38.457a6","type":"function","z":"1e4fbc3b.a64e8c","name":"get_last_light","func":"msg.topic = 'SELECT LIGHT, TIMESENT FROM TIDATA ORDER BY TIMESENT DESC limit 1';\nreturn msg;","outputs":1,"noerr":0,"x":858.7142333984375,"y":740.8571166992188,"wires":[["d1f1c004.2a75c8"]]},{"id":"d1f1c004.2a75c8","type":"mysql","z":"1e4fbc3b.a64e8c","mydb":"","name":"lastLight","x":1050.1428833007812,"y":740.857177734375,"wires":[["79edfe0f.10c938"]],"outputLabels":["msg.result"]},{"id":"2ac36bd6.17dc64","type":"function","z":"1e4fbc3b.a64e8c","name":"get_min_light","func":"msg.topic = 'SELECT MIN(LIGHT) AS MINLIGHT FROM TIDATA';\nreturn msg;","outputs":1,"noerr":0,"x":858.7142944335938,"y":795.1428833007812,"wires":[["5b60a7f2.53eb7"]]},{"id":"5b60a7f2.53eb7","type":"mysql","z":"1e4fbc3b.a64e8c","mydb":"","name":"minLight","x":1050.1428833007812,"y":793.7142639160156,"wires":[["989f7394.8a90c"]],"outputLabels":["msg.result"]},{"id":"5a0fdd62.cdef64","type":"function","z":"1e4fbc3b.a64e8c","name":"get_max_light","func":"msg.topic = 'SELECT MAX(LIGHT) AS MAXLIGHT FROM TIDATA';\nreturn msg;\n","outputs":1,"noerr":0,"x":863.0000610351562,"y":849.4285278320312,"wires":[["33c977dd.dfc29"]]},{"id":"33c977dd.dfc29","type":"mysql","z":"1e4fbc3b.a64e8c","mydb":"","name":"maxLight","x":1051.5714721679688,"y":849.4285888671875,"wires":[["2721a237.c6a32e"]],"outputLabels":["msg.result"]},{"id":"be4378a.9e6b808","type":"function","z":"1e4fbc3b.a64e8c","name":"get_avg_light","func":"msg.topic = 'SELECT ROUND(AVG(LIGHT),2) AS AVGLIGHT FROM TIDATA';\nreturn msg;\n","outputs":1,"noerr":0,"x":854.4285888671875,"y":902.2857055664062,"wires":[["3a4dc4b.3b3ee3c"]]},{"id":"3a4dc4b.3b3ee3c","type":"mysql","z":"1e4fbc3b.a64e8c","mydb":"","name":"avgLight","x":1053.0000610351562,"y":902.2857666015625,"wires":[["577cb8a0.c9d4e"]],"outputLabels":["msg.result"]},{"id":"3bc3d374.a0aa7c","type":"watson-text-to-speech","z":"1e4fbc3b.a64e8c","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaVoice","voicehidden":"en-US_LisaVoice","format":"audio/wav","password":"","payload-response":false,"default-endpoint":true,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1777.738037109375,"y":524.5000152587891,"wires":[["8fc1d991.06abc"]]},{"id":"e57d5dd.254ff2","type":"function","z":"1e4fbc3b.a64e8c","name":"","func":"var theMessage = msg.payload.botresponse.messageout.output.text[0];\n\nif (theMessage == \"H\") {\n    msg.payload = msg.payload.botresponse.messageout.output.text\n} else {\n    msg.payload = theMessage;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1809.4044799804688,"y":598.2500305175781,"wires":[["3bc3d374.a0aa7c"]]},{"id":"7af8ec44.ac1d4c","type":"play audio","z":"1e4fbc3b.a64e8c","name":"","voice":"","x":1934.4048461914062,"y":441.16668701171875,"wires":[]},{"id":"8fc1d991.06abc","type":"function","z":"1e4fbc3b.a64e8c","name":"","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":1774.4047241210938,"y":444.9166564941406,"wires":[["7af8ec44.ac1d4c"]]}]
