TalkToYourSensor-NodeRED.txt
[{"id":"80b928a6.01a4b8","type":"watson-conversation-v1","z":"308c5a68.458e86","name":"Watson Conversation","workspaceid":"Your-Watson-Conversation-ID","multiuser":false,"context":false,"x":424,"y":344.16662979125977,"wires":[["369b69dd.0b28c6"]]},{"id":"a04577f1.5d6378","type":"http in","z":"308c5a68.458e86","name":"BOT Home Page /bot","url":"/bot","method":"get","swaggerDoc":"","x":216,"y":194.16662216186523,"wires":[["199bbe12.42d782"]]},{"id":"199bbe12.42d782","type":"template","z":"308c5a68.458e86","name":"Conversation BOT Template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  Talk to your Sensor Chatbot\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n\n      <h1>Talk to your Sensor Chatbot</h1>\n      <div id=id_botchathistory>\n\t  </div>\n\t  \n\t  <div>\n\t      <form>\n            <label for=\"id_chattext\">Your Input: </label>\n            <input type=\"text\" name=\"chattext\" id=\"id_chattext\">\n            <br/><br/>\n\t      </form>\n\t      <button onclick=\"javascript:onChatClick()\">Send</button>\n\t  </div>\n    </div>\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script type=\"text/javascript\">\n    \n      $(document).ready(function() {\n          javascriptCheck();\n          \t$('#id_contextdump').hide();\n      });\n\n      // if javascript is enabled on the browser then can\n      // remove the warning message\n      function javascriptCheck() {\n        $('#no-script').remove();\n      }\n      \n      function createNewDiv(who, message) {\n        console.log('002-001');  \n        var txt = who + ' : ' + message;\n        return $('<div></div>').text(txt);\n      }\n\n      function chat(person, txt) {\n        $('#id_botchathistory').append(createNewDiv(person, txt));\n      }    \n      \n      function processOK(response) {\n        console.log('003-001');\n        console.log(response);\n        console.log(response.botresponse.messageout);\n        console.log(response.botresponse.messageout.output.text);\n        console.log(response.botresponse.messageout.context);\n        chat('Bot', response.botresponse.messageout.output.text); \n        $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n      }\n      \n      function processNotOK() {\n        chat('Error', 'Error whilst attempting to talk to Bot');\n      }\n      \n      function invokeAjax(message) {\n        var contextdata = $('#id_contextdump').data('convContext');\n        console.log('checking stashed context data');\n        console.log(contextdata);\n        \n  \n        //var ajaxData = \"msgdata=\" + message;\n        var ajaxData = {};\n        ajaxData.msgdata = message;\n        if (contextdata) {\n          ajaxData.context = contextdata;    \n        }\n\n        $.ajax({\n          type: 'POST',\n          url: 'botchat',\n          data: ajaxData,\n          success: processOK,\n          error: processNotOK\n        });\n      }\n          \n      // User has entered some text.\n      function onChatClick() {\n        console.log('001-001');\n        var txt = $('#id_chattext').val();\n        chat('You', txt); \n        invokeAjax(txt);\n        console.log('001-002');\n      }\n      \n        \n    </script>\n  </body>\n</html>\n","x":468.11114501953125,"y":194.2777099609375,"wires":[["6bf150c.dff12b"]]},{"id":"6bf150c.dff12b","type":"http response","z":"308c5a68.458e86","name":"","x":669,"y":195.1666259765625,"wires":[]},{"id":"76605af1.e65aa4","type":"http in","z":"308c5a68.458e86","name":"","url":"/botchat","method":"post","swaggerDoc":"","x":198,"y":339.16662979125977,"wires":[["361cfd86.35bf52"]]},{"id":"361cfd86.35bf52","type":"function","z":"308c5a68.458e86","name":"Pre Service","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":262,"y":393.16662979125977,"wires":[["80b928a6.01a4b8"]]},{"id":"369b69dd.0b28c6","type":"function","z":"308c5a68.458e86","name":"Post Service","func":"msg.mydata.messageout = msg.payload;\nmsg.payload = {};\nmsg.payload.botresponse = msg.mydata;\nglobal.set(\"theoutput\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":523.6666870117188,"y":394.499942779541,"wires":[["c881b65e.074cd8"]]},{"id":"2bd63c30.eb4224","type":"http response","z":"308c5a68.458e86","name":"","x":1278.5001220703125,"y":572.4444618225098,"wires":[]},{"id":"c881b65e.074cd8","type":"switch","z":"308c5a68.458e86","name":"Switch","property":"payload.botresponse.messageout.output.text","propertyType":"msg","rules":[{"t":"cont","v":"last value for TEMPERATURE.","vt":"str"},{"t":"cont","v":"minimum value for TEMPERATURE.","vt":"str"},{"t":"cont","v":"maximum value for TEMPERATURE.","vt":"str"},{"t":"cont","v":"average value for TEMPERATURE.","vt":"str"},{"t":"cont","v":"last value for LIGHT.","vt":"str"},{"t":"cont","v":"minimum value for LIGHT.","vt":"str"},{"t":"cont","v":"maximum value for LIGHT.","vt":"str"},{"t":"cont","v":"average value for LIGHT.","vt":"str"},{"t":"else"}],"checkall":"true","outputs":9,"x":672.2935791015625,"y":348.57141494750977,"wires":[["83f6e13f.e4fe6"],["369042a9.230d0e"],["bdf8947a.f2acb8"],["aa7149e4.702398"],["11e80853.256e48"],["1d3e852b.fb9b8b"],["6ad3bd1c.e0c7e4"],["4f49c9b9.afa6f8"],["9fbe7d36.270f7"]]},{"id":"83f6e13f.e4fe6","type":"dashDB in","z":"308c5a68.458e86","dashDB":"","service":"dashDB for Analytics","query":"SELECT AMBIENTTEMP, TIMESENT FROM TIDATA ORDER BY TIMESENT DESC FETCH FIRST ROW ONLY","params":"","name":"LAST TEMP","x":870.499885559082,"y":228.83346843719482,"wires":[["85ce9a73.55cf28"]]},{"id":"85ce9a73.55cf28","type":"function","z":"308c5a68.458e86","name":"RETURN LAST TEMP","func":"var globalvariable = global.get(\"theoutput\");\nvar dashDBresult = msg.payload;\nvar latest = dashDBresult.AMBIENTTEMP;\nvar timesent = dashDBresult.TIMESENT;\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The LATEST TEMP recorded by the IoT Sensor is \" + latest + \" celsius degrees. This was recorded on \" + timesent;\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1065.3885879516602,"y":228.11116886138916,"wires":[["fcb5e1d6.d571f"]]},{"id":"bdf8947a.f2acb8","type":"dashDB in","z":"308c5a68.458e86","dashDB":"","service":"dashDB for Analytics","query":"SELECT MAX(AMBIENTTEMP) FROM TIDATA","params":"","name":"MAX TEMP","x":869.8332595825195,"y":303.2224283218384,"wires":[["f582bf92.94a8f"]]},{"id":"f582bf92.94a8f","type":"function","z":"308c5a68.458e86","name":"RETURN MAX TEMP","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MAXIMUM TEMP recorded by the IoT Sensor is \" + msg.payload[\"1\"] + \" celsius degrees.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1065.499755859375,"y":303.6111001968384,"wires":[["fcb5e1d6.d571f"]]},{"id":"d03d82fe.fe20a","type":"function","z":"308c5a68.458e86","name":"RETURN MIN TEMP","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MINIMUM TEMP recorded by the IoT Sensor is \" + msg.payload[\"1\"] + \" celsius degrees.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1066.3886489868164,"y":266.27779483795166,"wires":[["fcb5e1d6.d571f"]]},{"id":"9fbe7d36.270f7","type":"function","z":"308c5a68.458e86","name":"OTHERWISE","func":"var globalvariable = global.get(\"theoutput\");\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":874.33349609375,"y":572.1667518615723,"wires":[["2bd63c30.eb4224"]]},{"id":"369042a9.230d0e","type":"dashDB in","z":"308c5a68.458e86","dashDB":"","service":"dashDB for Analytics","query":"SELECT MIN(AMBIENTTEMP) FROM TIDATA","params":"","name":"MIN TEMP","x":869.8332901000977,"y":265.888991355896,"wires":[["d03d82fe.fe20a"]]},{"id":"aa7149e4.702398","type":"dashDB in","z":"308c5a68.458e86","dashDB":"","service":"dashDB for Analytics","query":"SELECT AVG(AMBIENTTEMP) FROM TIDATA","params":"","name":"AVG TEMP","x":871.27783203125,"y":340.22229385375977,"wires":[["a57d645d.65cfc8"]]},{"id":"a57d645d.65cfc8","type":"function","z":"308c5a68.458e86","name":"RETURN AVG TEMP","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The AVERAGE TEMP recorded by the IoT Sensor is \" + msg.payload[\"1\"] + \" celsius degrees.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1068.4442749023438,"y":339.9444007873535,"wires":[["fcb5e1d6.d571f"]]},{"id":"fcb5e1d6.d571f","type":"function","z":"308c5a68.458e86","name":"","func":"msg.payload.botresponse.messageout.context = {};\nreturn msg;","outputs":1,"noerr":0,"x":1290.277587890625,"y":390.166690826416,"wires":[["2bd63c30.eb4224"]]},{"id":"3351c63f.44a74a","type":"comment","z":"308c5a68.458e86","name":"TIDATA TEMP","info":"","x":871.9999389648438,"y":192,"wires":[]},{"id":"6da8fcb0.aa6a54","type":"comment","z":"308c5a68.458e86","name":"TIDATA LIGHT","info":"","x":871.9999771118164,"y":381.0000238418579,"wires":[]},{"id":"11e80853.256e48","type":"dashDB in","z":"308c5a68.458e86","dashDB":"","service":"dashDB for Analytics","query":"SELECT LIGHT, TIMESENT FROM TIDATA ORDER BY TIMESENT DESC FETCH FIRST ROW ONLY","params":"","name":"LAST LIGHT","x":872.4999618530273,"y":415.50001525878906,"wires":[["46e4063d.6476d8"]]},{"id":"46e4063d.6476d8","type":"function","z":"308c5a68.458e86","name":"RETURN LAST LIGHT","func":"var globalvariable = global.get(\"theoutput\");\nvar dashDBresult = msg.payload;\nvar latest = dashDBresult.LIGHT;\nvar timesent = dashDBresult.TIMESENT;\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The LATEST LIGHT recorded by the IoT Sensor is \" + latest + \" lux units. This was recorded on \" + timesent;\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1066.9999771118164,"y":415.5000238418579,"wires":[["fcb5e1d6.d571f"]]},{"id":"1d3e852b.fb9b8b","type":"dashDB in","z":"308c5a68.458e86","dashDB":"","service":"dashDB for Analytics","query":"SELECT MIN(LIGHT) FROM TIDATA","params":"","name":"MIN LIGHT","x":872.4999771118164,"y":453.0000247955322,"wires":[["f97b19c2.3f1a68"]]},{"id":"f97b19c2.3f1a68","type":"function","z":"308c5a68.458e86","name":"RETURN MIN LIGHT","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MINIMUM LIGHT recorded by the IoT Sensor is \" + msg.payload[\"1\"] + \" lux units.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1066.055419921875,"y":453.38879776000977,"wires":[["fcb5e1d6.d571f"]]},{"id":"6ad3bd1c.e0c7e4","type":"dashDB in","z":"308c5a68.458e86","dashDB":"","service":"dashDB for Analytics","query":"SELECT MAX(LIGHT) FROM TIDATA","params":"","name":"MAX LIGHT","x":872.9999771118164,"y":491.0000238418579,"wires":[["dcc5ead5.8b1dc8"]]},{"id":"dcc5ead5.8b1dc8","type":"function","z":"308c5a68.458e86","name":"RETURN MAX LIGHT","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The MAXIMUM LIGHT recorded by the IoT Sensor is \" + msg.payload[\"1\"] + \" lux units.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1068.5553588867188,"y":490.38879776000977,"wires":[["fcb5e1d6.d571f"]]},{"id":"4f49c9b9.afa6f8","type":"dashDB in","z":"308c5a68.458e86","dashDB":"","service":"dashDB for Analytics","query":"SELECT AVG(LIGHT) FROM TIDATA","params":"","name":"AVG LIGHT","x":874.4999618530273,"y":528.5000152587891,"wires":[["bc48e461.e949c8"]]},{"id":"bc48e461.e949c8","type":"function","z":"308c5a68.458e86","name":"RETURN AVG LIGHT","func":"var globalvariable = global.get(\"theoutput\");\nglobalvariable.botresponse.messageout.output.text = \"Here is what you asked for. The AVERAGE LIGHT recorded by the IoT Sensor is \" + msg.payload[\"1\"] + \" degrees.\";\nmsg.payload = globalvariable;\nreturn msg;","outputs":1,"noerr":0,"x":1069.0553588867188,"y":528.8887977600098,"wires":[["fcb5e1d6.d571f"]]},{"id":"caa8feff.1ff15","type":"comment","z":"308c5a68.458e86","name":"1. Setup the Chatbot page","info":"","x":228,"y":146,"wires":[]},{"id":"7df95bd6.919e34","type":"comment","z":"308c5a68.458e86","name":"2. Capture the Conversation's input and output","info":"","x":298,"y":286,"wires":[]},{"id":"ba2777a2.7edca8","type":"comment","z":"308c5a68.458e86","name":"3. Switch depending on the Conversation's output","info":"","x":539,"y":440,"wires":[]},{"id":"443a3a04.e699a4","type":"comment","z":"308c5a68.458e86","name":"4. Do SQLs and format when the Swicth identified the need, else return as-is output","info":"","x":1088,"y":146,"wires":[]}]